@import "tailwindcss";

@theme inline {
  --color-primary: #052a51;
  --color-primary-hover: #022046;
  --color-dark: #1f2937;
  --color-whatsapp: #25d366;
  
  --font-sans: var(--font-jakarta);
}

:root {
  --background: #ffffff;
  --foreground: #1f2937;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 85px;
}

body {
  background: var(--background);
  color: var(--foreground);
}
